* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: linear-gradient(white, grey);
}
.topwrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.mainwrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 50vh;
}
